<link rel="stylesheet" id="storefront-style-css" href="/css/themes/storefront/style.css" type="text/css" />
<link rel="stylesheet" id="storefront-woocommerce-style-css" href="/css/themes/storefront/assets/css/woocommerce/woocommerce.css" type="text/css" />
<link rel="stylesheet" id="storefront-icons-css" href="/css/themes/storefront/assets/css/base/icons.css" type="text/css" />
<link rel="stylesheet" href="/js/jplayer-2.9.2/skin/blue.monday/css/jplayer.blue.monday.css" type="text/css" />
<style id="storefront-style-inline-css" type="text/css">
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
	color: #333333;
}

button.menu-toggle,
button.menu-toggle:hover {
	border-color: #333333;
}

button.menu-toggle,
button.menu-toggle:hover {
	background-color: #ffffff;
}

button.menu-toggle:after,
button.menu-toggle:before,
button.menu-toggle span:before {
	background-color: #333333;
}

table.cart td.product-remove,
table.cart td.actions {
	border-top-color: #ffffff;
}
</style>
<style id="admin-style-css" type="text/css">
div#form label {
	margin-top:20px;
	display:block;
}
div#form input {
   width: 100%;
}
</style>
<script type="text/javascript" src="/js/themes/storefront/assets/js/navigation.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/jplayer-2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jplayer.playlist.min.js"></script>